@media screen and (max-width:1200px) {
    .main-section{
        width: 992px;
        margin: 0 auto;
    }
    .green-section{
        padding: 10px;
    }
    .article-div{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .div-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }    
    .box{
        width: 65%;
        margin-bottom: 40px;
    }
    .bottom-section, .last-section {
        text-align: center;
        padding: 0 10px;
    }
    .section4-article{
        padding: 0 10px;
    }
}

@media screen and (max-width:992px) {

    .main-section{
        width: 768px;
        margin: 0 auto;
    }

    .top-section header {
        gap: 0;
    }
    .green-section div button {
        margin: 26px 9px 40px;
    }
    h1{
        font-size: 51px;
    }
    .div-text > span {
        padding: 10px;
    }
    .section4-article div input{
       width:100% ;
    }
    .input{
        display: flex;
    }
    .section4-article{
        justify-content: space-around;
    }
}
@media screen and (max-width:768px) {
    .main-section{
        width: 576px;
        margin: 0 auto;
    }
    .green-section {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
    }

    .article-div{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .section4-div , .bottom-section{
        padding: 0 10px;
    }

    .section4-div1 {
        width: 100%;
    }
    h1{
        font-size: 38px;
    }
    .box {
        width: 90%;
    }
    .green-div {
        position: absolute;
        left: 100px;
        top: 170px;
    }
}
@media screen and (max-width:576px) {
    .main-section{
        width: 100%;
        margin: 0 auto;
    }
    .green-div{
        display: none;
    }
    .last-section .box-div {
        display: flex;
        flex-direction: column;
    }
    .last-section1{
        margin-left: auto;
    } 
    .div-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .box{
        width: 60%;
    }
    .section4-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer {
        display: grid;
        color: var(--grey);
    }
    .div-img{
        overflow: hidden;
    }
}